<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Order</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{vendor/noui/nouislider.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"  th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="#" th:action="@{/purchaseorders}" method="post" th:object="${purchaseOrder}">
				<span class="contact100-form-title">
					New Order
				</span>
				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">BRAND *</span>
					<div>
						<select class="js-select2" name="service" th:field="*{brand.brandId}">
							<option th:each="brand : ${brands}" th:value="${brand.brandId}"
							th:text="${brand.tyreManufacturer.manufacturerName +'-' + brand.brandName}"></option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>
								
				<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate="Please enter quantity">
					<span class="label-input100">QUANTITY *</span>
					<input class="input100" type="number" name="quantity" placeholder="Enter Quantity" th:field="*{quantity}">
				</div>
				
				<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate="Please enter date of order">
					<span class="label-input100">DATE *</span>
					<input class="input100" type="date" name="date" placeholder="Enter travel date" th:field="*{orderDateStr}">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100" data-validate="Please enter price per tyre">
					<span class="label-input100">PRICE *</span>
					<input class="input100" type="number" name="price" placeholder="Enter price" th:field="*{price}">
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/noui/nouislider.min.js}"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<!-- <script type="text/javascript">
 	function getPrice(obj){
 		var brandId = obj.value;
 		 $.get("demo_test.asp", function(data, status){
 	        alert("Data: " + data + "\nStatus: " + status);
 	    });
 	}

</script> -->
</body>
</html>
